h2 {
	font-family: "Times New Roman", sans-serif;
	margin: 20px;
	color: chartreuse;
}

/*tr:nth-child(even) {
	background-color: #eee;
}*/

table{
	margin: auto;
	padding: 10px;
	width: available;
	color: greenyellow;
/*	border: 2px solid black;*/
}
tr{
	outline: solid black;
}
th {

	color: yellowgreen;
}

td {
	text-align: center;
	border-left: 2px solid black;
}

.imagination{
	position: absolute;
	right: 0px;
	bottom: 0px;
}